root                     = true

# All files
[*]
charset                  = utf-8
curly_bracket_next_line  = false
end_of_line              = lf
indent_brace_style       = K&R
indent_size              = 2
indent_style             = space
insert_final_newline     = true
max_line_length          = 160
quote_type               = single
spaces_around_brackets   = true
spaces_around_operators  = true
trim_trailing_whitespace = false

# Windows files
[*.bat]
end_of_line = crlf
